html{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

body {
    font: small sans-serif;
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   background-color: white;
   overflow: scroll;
   overflow-x: hidden;
}
.banner {
   marging: 0px auto;
   padding: 0;
   height: 10%;
   width: 100%;
   overflow: hidden;
   border: solid;
   font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
   color: #4f6b72;
   background: #E6EAE9;
   border-width: 0px 0px 5px 0px;
   text: Tribe of Juda Self Help Portal;
}
#page {
    margin-left: 200px;
    background-color: #F0F0F0;
}
#maincontent {
    float: right;
    width: 100%;
}
#menuleftcontent {
    float: left;
    width: 100px;
    margin-left: -200px;
    background-color: #CCCCCC;
}
#clearingdiv {
    clear: both;
}
