html{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

div {
   word-wrap: break-word;
   width: 600px;
}

body {
    font: small sans-serif;
   margin: 6;
   padding: 6;
   height: 100%;
   width: 100%;
   background-color: white;
   overflow: scroll;
   overflow-x: hidden;
}
.banner {
   marging: 0px auto;
   padding: 0;
   height: 10%;
   width: 100%;
   overflow: hidden;
   border: solid;
   font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
   color: #4f6b72;
   background: #B7EAF4;
   border-width: 0px 0px 5px 0px;
}

H1 { 
   text-align: center 
}

#page {
    margin-left: 200px;
    background-color: #F0F0F0;
}

#firstcontent {
    //margin: 6;
    padding: 6;   
    float: right;
    width: 100%;
}

#maincontent {
    float: right;
    width: 100%;
}
#menuleftcontent {
    float: left;
    width: 200px;
    margin-left: -200px;
   background-color: #B7EAF4;
}
#clearingdiv {
    clear: both;
}
