html{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

body {
    font: small sans-serif;
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   background-color: white;
   overflow: scroll;
   overflow-x: hidden;
}
.banner {
   marging: 0px auto;
   padding: 0;
   height: 16%;
   width: 100%;
   overflow: hidden;
   border: solid;
   background-color: d8d8d8;
   border-color: 81daf5;
   border-width: 0px 0px 5px 0px;
}
#page {
    margin-left: 200px;
    background-color: #F0F0F0;
}
#maincontent {
    float: right;
    width: 100%;
}
#menuleftcontent {
    float: left;
    width: 200px;
    margin-left: -200px;
    background-color: #CCCCCC;
}
#clearingdiv {
    clear: both;
}
